<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thetrusttech.getacarparts">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DFApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_splash_islam_bg"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyFresh">
        <activity
            android:name=".ui.home.ui.auth.login.SigninActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home" />

        <activity
            android:name=".ui.items.activity.RecipeItemDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.ui.auth.signup.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.ui.auth.forgot.ForgotMyPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.items.activity.RecipeItemsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.items.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>